/* --- Estilos base globales --- */
body {
    font-family: 'Segoe UI', Roboto, Inter, sans-serif;
    line-height: 1.6;
    background-color: #f8f9fa;
    color: #212529;
    margin: 0;
    padding: 0;
}

h1, h2, h3, h4 {
    font-weight: 700;
    color: #333;
}

p {
    margin-bottom: 1rem;
}

/*estilos de los botones*/
.btn-outline-danger{
    color: #f13a19;
    border-color: #f13a19;
    border-width: 1px;
    border-radius: 10px;
}

.btn-outline-danger:hover{
    color:#FFFFFF;
    background-color:#f13a19;
}